*~
*main.py
_*__
*#
.vscode/launch.json
javascript-warm_up/13-main.js
javascript_objects_scopes_closures/*main.js
javascript-web_scraping/settings.json
javascript-web_scraping/cisfun
javascript-web_scraping/my_file.txt
javascript-web_scraping/node_modules
